.internshipsExperienceContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.title {
  font-size: 1.5rem;
}

.ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
