.header {
  display: flex;
  width: 100%;
  min-height: 400px;
}

.imgContainer {
  max-width: 30%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}
.title {
  font-weight: normal;
}

.contact {
  font: 1rem;
}

.link {
  text-decoration: none;
}
.img {
  width: 100%;
}
